@model IEnumerable<TeamManagement.Models.dto.TeamMemberRole>

@{
    ViewData["Title"] = "Member";
    var TeamId = Model.FirstOrDefault().Id;

}

<h1>Member</h1>

<h4>Team</h4>

    <div>
        <input type="button" class="button" value="ADD" onclick="@("window.location.href='"+ @Url.Action("ADD","Teams", new { id = TeamId }) +"'");" />
    </div>
 
    <h3>@Model.FirstOrDefault().TeamName</h3>


<table class="table">
    <thead>
        <tr>
           @* <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            
            
           
        </tr>
}
    </tbody>
</table>






@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
