@model IEnumerable<TeamManagement.Models.dto.TeamMemberRole>

@{
    ViewData["Title"] = "Member";
    var TeamId = Model.FirstOrDefault().Id;

}

<h1>Member</h1>

<h4>Team</h4>

    <div>
        <input type="button" class="button" value="ADD" onclick="@("window.location.href='"+ @Url.Action("ADD","Teams", new { id = TeamId }) +"'");" />
    </div>
 



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            
            
           
        </tr>
}
    </tbody>
</table>


@* <table class="table">
    <thead>
    <tr>
    <th>
    @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Gender)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.DOB)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.MaritalStatus)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Address)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.PhoneNo)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Skills)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Hobbies)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.JobTitle)
    </th>
    <th>
    @Html.DisplayNameFor(model => model.Technology)
    </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
    <td>
    @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Gender)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.DOB)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.MaritalStatus)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.PhoneNo)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Skills)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Hobbies)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.JobTitle)
    </td>
    <td>
    @Html.DisplayFor(modelItem => item.Technology)
    </td>

    </tr>
    }
    </tbody>
    </table>*@




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
